.header{
  border-bottom: 1px solid #1b85b8;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
nav{
  max-width: 1200px;
  margin: auto;
  .menu {
    float: left;
  }
  .search-form{
    display: none;
  }
  ul{
    li{
      display: inline-block;
      list-style: none;
      position: relative;
      &:hover{
        .dropdown{
          display: block;
        }
      }
      a{
        text-decoration: none;
        padding: 25px 25px;
        display: inline-block;
        transition: 0.5s all ease;
        &:hover{
          background-color: rgba(27,133,184, 0.8);
          color: #fff;
        }
        &.active{
          border-bottom: 5px solid #1b85b8;
          padding-bottom: 20px;
        }
      }
    }
  }
}
.dropdown{
  transition: 0.5s all ease-in;
  float: none;
  position: absolute;
  width: 200px;
  z-index: 1000;
  display: none;
  li{
    width: 100%;
    background-color: #499dc6;
    a{
      color: #fff;
      width: 100%;
      padding: 15px 10px;
      margin: auto;
      border-bottom: 1px solid $blue;
      &:hover{
        background-color: $blue;
      }
    }
    &:last-child{
      a{
        border-bottom: none;
      }
    }
  }
}

.messenger{
  cursor: pointer;
  float: right;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top:10px;
  display: flex;
  transition: 1s background ease;
  margin-right: 25px;
  .fa{
    margin: 6px auto;
    color: $blue;
  }
  .msg-cnt{
    transition: 1s all ease;
    border: 1px solid transparent;
    background: #1b85b8;
    display: inline-block;
    color: #fff;
    width: 20px;
    text-align: center;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  &:hover{
    background-color: #1b85b8;
    .msg-cnt{
      background: #fff;
      color: $blue;
      border: 1px solid $blue;
    }
    .fa{
      color: #fff;
    }
  }
}

.auth-user{
  color: #6b7676;
  padding: 25px;
  float: right;
  position: relative;
}
.user-menu{
  display: none;
  z-index:1000;
  background-color: #fff;
  position: absolute;
  border: 1px solid $blue;
  padding: 15px;
  top: 20px;
  right: 10px;
  border-radius: 4px;
  margin-top: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  width: 200px;
  text-align: right;
  .user-actions{
    padding-bottom: 10px;
  }
  .user-info{
    border-bottom: 1px solid $blue;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .user-name{
      font-weight: bold;
    }
  }
  .exit-wrapper{
    border-top: 1px solid $blue;
    padding-top: 10px;
  }
  a{
    text-decoration: none;
    &:hover{
      color: #ee5c5c;
    }
  }
}

.mobile-open{
  display: none;
}
.burger-wrapper {
  display: flex;
  flex-direction: column;
  height: 23px;
  width: 22px;
  span {
    transform: rotate(0deg);
    transform-origin: left center;
    transition: .25s ease-in-out;
  }
  .open {
    span {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
      }
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
.bugrer-line{
  transition: .25s ease-in-out;
  width: 21px;
  height: 3px;
  display: block;
  background-color: #1b85b8;
  margin-bottom: 4px;
}

@media (max-width: 1100px) {
  .hide-1000{
    display: none;
  }
}
@media (max-width: 1030px) {
  nav {
    .menu {
      background-color: #499dc6;
      position: absolute;
      display: none;
      width: 100%;
      position: absolute;
      transition: all 0.5s ease;
      z-index: 100000;
      top: 73px;
      left: 0;
      max-width: 500px;
      width: 100%;
    }
    .search-form {
      display: block;
      width: 80%;
      margin: auto;
      margin-top: 10px;
      float: none;
      .input-wrapper {
        float: none;
      }
      .input {
        width: 100%;
      }
    }
    .menu {
      &.menu-hidden {
        left: -100%;
      }
    }
    ul{
      li{
          display: block;
          float: none;
        a{
          color: #fff;
          width: 100%;
          padding: 10px;
          &.active{
            border: none;
            padding-bottom: 15px;
          }
          &:hover{
            color: #1b85b8;
            background-color: #fff;
          }
        }
      }
    }
  }
  .dropdown{
    position: static;
    width: auto;
    display: block;
    li{
      background: none;
      a {
        padding: 10px;
        padding-left: 50px;
        width: 100%;
        border-bottom: none;
        &:before{
          content: "-";
          margin-right: 5px;
        }
      }
    }
  }
  .mobile-open{
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    color: #1b85b8;
    border-right: 1px solid #1b85b8;
  }
}