<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elements</title>
    <link rel="stylesheet" href="buttons.css">
    <link rel="stylesheet" href="inputs.css">
    <link rel="stylesheet" href="main.css?1">
</head>
<body>
    <div class="row buttons">
        <h2>Кнопки</h2>
        <div class="btn btn-big btn-yellow">Подтвердить</div>
        <div class="btn btn-small btn-yellow">Подтвердить</div>
        <div class="btn btn-big btn-green">Подтвердить</div>
        <div class="btn btn-small btn-green">Подтвердить</div>
        <div class="btn btn-big btn-blue">Подтвердить</div>
        <div class="btn btn-big btn-default">Подтвердить</div>
        <div class="btn btn-big btn-red">Подтвердить</div>
    </div>
    <div class="row inputs">
        <h2>Инпуты</h2>
        <input class="input" placeholder="Инпут текстовый" type="text">
        <select class="input select"><option>12</option></select>
    </div>
<div class=" row form-wrap">
    <h2>Форма</h2>
    <form class="form form-horizontal">
        <div class="row">
            <div class="label">
                <label class="">Лейбл горизонтальный</label>
            </div>
            <div class="input-wrapper">
                <input class="input" type="text">
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label class="">Лейбл горизонтальный</label>
            </div>
            <div class="input-wrapper">
                <input class="input" type="text">
            </div>
        </div>
    </form>
</div>
   <div class="form-wrap">
    <form class="form form-vertical">
        <div class="row">
            <div class="label">
                <label class="">Лейбл вертикальный</label>
            </div>
            <div class="input-wrapper">
                <input class="input" type="text">
            </div>
        </div>
    </form>
</div>
</body>
</html>